
.container4{
    width: 100%;
    background: linear-gradient(100deg, #83f0e1, #e3f732);
    /* margin: 50px 50px 50px 50px; */
}
.container1{
    height: 160px;
    width: 100%;
    background-color:transparent;
    /* margin: 0px 200px 0px 200px; */
    /* background-color: rgb(157, 55, 201); */
}

.container1 h6 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 10px;
    margin: 0px;
    color: blue;
    border: 5px solid rgb(5, 5, 5);
    border-radius: 30px;
}
.anish{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    height: 130px;
    /* background-color: linear-gradient(0deg,#8490ff 0%,#62bdfc 100%) ; */
    /* background-color: rgb(247, 239, 168) ; */
    background-color: transparent;
    margin: 0px 200px 0px 200px;
    padding-top: 30px;
}


.container
{
    height: 350px;
    width: 100%;
    /* background-color: rgb(90, 48, 129); */
    background-color: transparent;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.item { 
    /* background: #f1f35e; */
    background-color: transparent;
}

#item-1 {
    margin: 0px 0px 0px 200px;
    /* padding-top: 150px; */
    height: 350px;
}

#item-1 h1 {
    margin: 60px 0px 0px 30px;
    font-size: 60px;
    text-transform: uppercase;
}

#item-1 p {
    margin: 10px 0px 0px 30px;

}


#item-2 {
    margin: 0px 200px 0px 0px;
    height: 350px;
    /* width: 500px;  */
}
#item-2 img {
    height: 350px;
    width: 500px;
    padding-left: 100px ;
}

.container3{
    /* background-color: plum; */
    background-color: transparent;
    height: 1000px;
    width: 100%;
}
.content{
    /* background-color: rgb(232, 243, 137); */
    /* background-color: linear-gradient(0deg,#8490ff 0%,#62bdfc 100%); */
    background-color: transparent;
    margin: 0px 200px 0px 200px;
}
.content .main {
    font-size: 25px;
}
.content .main h1{
    font-size: 30px ;
    font-weight: 600;
    text-transform:uppercase; 
    border-bottom: 3px solid rgb(71, 69, 69);
    color: rgb(8, 49, 124);
}